html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.footer {
	position: relative;
	width: 100%;
	min-height: 100px;
	background-color: rgba(160, 204, 114, 0.9);
	color: white;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
}

.footer a {
	color: white;
}

.social-button {
	margin: 4px;
}

.social a:hover {
	text-decoration: none;
}